<!DOCTYPE html>
<html>

<head>
  {{>head}}
</head>


<body>
    {{>nav}}
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <div class="container">
      {{{body}}}

    </div>

    {{>javascripts}}
</body>

</html>
