.thumbnail img{
  max-height: 250px;
}

.price{
  float: right;
}

.navbar{
position: relative;
min-height: 50px;
width: 1140px;
margin: 0 auto;
margin-bottom: 20px;
margin-top: 20px;
border: 1px solid transparent;
}
